

main {
    display: flex;
    flex-direction: row;
    color: white;
    height: 100%;
}

main #body-svg {
    height: 100vh;
    margin-left: -1rem;
    transition: 1s;
}

main #body-svg:hover {
    transition: 1s;
    transform: scaleX(1.2);
}

main .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
    padding-right: 10vw;
}

main .content .main-info {
    display: flex;
    flex-direction: column;
}

main .content #body-description {
    max-width: 50vw;
}

main .content .body-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .content .body-data h4 {
    margin-block-end: 0;
}
main .content .body-data p {
    margin-block-start: 0.2rem;
}